#to-do-app {
  padding: 1% 3%;
}

#list-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0;
  padding: 0;
}

#container {
  margin: 0;
  padding: 0;
}

#list-container li {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

#list-container input {
  border: 1px solid gray;
  border-radius: 5px;
}

#list-container input:focus {
  outline: none;
}

.delete {
  color: white;
  background-color: #3a4aca;
  border-radius: 5px;
  border: none;
  padding: 0px 5%;
  cursor: pointer;
}

.delete:hover {
  background-color: #2e3ba5;
}

.delete::after {
  content: '\f2ed';
  font-family: "Font Awesome 6 Free";
  margin-left: 5px;
}

#add {
  background-color: white;
  border-radius: 5px;
  border: 3px solid #3a4aca;
  padding: 1% 3%;
  cursor: pointer;
}

#add::after {
  content: '\2b';
  font-family: "Font Awesome 6 Free";
  margin-left: 5px;
}

#add:hover {
  color: white;
  background-color: #3a4aca;
}

.hidden {
  display: none;
}

form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 15px;
  flex-grow: 6;
}

input[type = submit] {
  width: 5rem;
}
